---
layout: default
title: Home
---
<div class="teaser-image">
  <img src="{{ '/assets/images/sheep_landscape.jpg' | relative_url }}" alt="Teaser image" />
</div>



<h1>Willkommen zu unserem Betriebsausflug 2025</h1>
<p>Hier findet ihr die offizielle Seite zu unserem Betriebsausflug mit Updates und einem Zeitplan.</p>
<nav class="home-links">
  <a href="{{ 'pages/timeplan/' | relative_url }}" class="btn-link">Zeitplan</a>
  <a href="{{ 'pages/umfrage/' | relative_url }}" class="btn-link">Teilnahme-Umfrage</a>
</nav>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>