---
layout: default
title: Home
---
<div class="teaser-image">
  <img src="{{ '/assets/images/sheep_landscape.jpg' | relative_url }}" alt="Teaser image" />
</div>



<h1>Willkommen zu unserem Betriebsausflug 2025</h1>
<p>Hier findet ihr die offizielle Seite zu unserem Betriebsausflug mit Updates und einem Zeitplan.</<h2>Entdecke die
  Seiten</h2>
<div class="link-grid">
  <a href="{{ 'pages/timeplan/' | relative_url }}" class="link-card">
    <i class="fa-solid fa-calendar-days"></i>
    <h3>Zeitplan</h3>
    <p>Alle Programmpunkte auf einen Blick</p>
  </a>
  <a href="{{ 'pages/Fahrgruppen/' | relative_url }}" class="link-card">
    <i class="fa-solid fa-car-side"></i>
    <h3>Fahrgruppen</h3>
    <p>Wer fährt mit wem?</p>
  </a>
  <a href="{{ 'pages/Packliste/' | relative_url }}" class="link-card">
    <i class="fa-solid fa-suitcase-rolling"></i>
    <h3>Packliste</h3>
    <p>Damit nichts Wichtiges fehlt</p>
  </a>
  <a href="{{ 'pages/umfrage/' | relative_url }}" class="link-card">
    <i class="fa-solid fa-list-check"></i>
    <h3>Umfrage</h3>
    <p>Bestätige deine Teilnahme</p>
  </a>
  <a href="{{ 'pages/menu/' | relative_url }}" class="link-card">
    <i class="fa-solid fa-utensils"></i>
    <h3>Menü</h3>
    <p>Was wir beim Abendessen serviert bekommen</p>
  </a>
  <a href="{{ 'pages/quiz/' | relative_url }}" class="link-card quiz-card hidden">
    <i class="fa-solid fa-sheep"></i>
    <h3>Schafs-Quiz</h3>
    <p>Teste dein Wissen über Schafe 🐑</p>
  </a>
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const quizCard = document.querySelector(".quiz-card");
    const today = new Date();
    const unlockDate = new Date("2025-09-04T14:15:00"); // unlock at 08:00 on 19.09.25

    if (today >= unlockDate) {
      quizCard.classList.remove("hidden");
    }
  });
</script>